body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  min-width: 50%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  color: #666;
  margin: 5px 0;
}

@media screen and (max-width: 700px) {
  .container {
      margin: 20px;
      padding: 10px;
  }
}
