* {
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
}

.back{
    background-color: gray;
}

.Rectangle2{
    width: 859px;
    height: 468px;
    margin-top: 10%;
    background: #EDEDED;
    border: 1px black solid;
}