body {
    font-family: Arial, sans-serif;
    background-color: #ffc15e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #FF7B30;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

form {
    text-align: left; /* Alinea los elementos del formulario a la izquierda */
}

label {
    display: block; /* Hace que cada etiqueta se muestre en una línea nueva */
}


h2 {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #A7002A;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #0056b3;
}
